@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes draw {
    from {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  .animate-draw {
    animation: draw 0.4s ease-out forwards;
  }
}

body {
  @apply overflow-hidden;
}

.text-glow {
  text-shadow: 0 0 20px rgba(99, 102, 241, 0.3);
}